// Custom color overrides for Hitask.
// This is the master override file.

$hi-gray1: #f7f7f7;
$hi-border1: #dde2e6;
$hi-green: #199473;
$hi-blue: #1992d4;
$hi-yellow: #de911d;
$hi-red: #ef4e4e;
$hi-root-background: #f7f7f7 !default;
$hi-tag-background-color: #f7f7f7;
$hi-tag-border-color: #cfcfcf;
$hi-tag-text-color: #515151;
