// Custom color overrides for Hitask

$hi-gray1: #f4f4f4 !default;
$hi-border1: #dde2e6 !default;
$hi-green: #02bcae !default;
$hi-blue: #16a4fa !default;
$hi-red: #fe424d !default;
$hi-root-background: #fafafa !default;
$hi-tag-background-color: #f1f9ff;
$hi-tag-border-color: #cad6dd;
$hi-tag-text-color: #5a6e7a;
