// Custom color overrides for Hitask

$hi-gray1: #f4f4f4 !default;
$hi-border1: #dde2e6 !default;
$hi-green: #02BCAE !default;
$hi-blue: #16a4fa !default;
$hi-red: #fe424d !default;
$hi-root-background: #fafafa !default;
